$color-white: #fffaf0;
$color-black: #261c07;
$color-accent: #f8c24e;
$color-error: #eb7676;
$color-ok: #a5d377;
$transition-fast: 0.1s;
$transition-default: 0.3s;
$transition: $transition-default;
$transition-slow: 0.5s;

$devices: (
	desktop: 1080px,
	mobile: calc(100% - 24px),
);

$headerZIndex: 1000;
